# OS file ---
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows ---
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msm
*.msp
*.lnk

# Python ---
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments ---
venv/
env/
ENV/
.env


# C ---
*.o
*.obj
*.exe
*.out
*.app

# Libraries ---
*.lib
*.a
*.dll
*.so
*.dylib

# VS Code ---
.vscode/
